.floating-button {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  border-color: #f0f0f0;
  right: 50%;
  transform: translateX(50%);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 8%;
}
